/* COLORS */
$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$titleDark: #0A0D0D;
$lightYellow: #787230;

$darkYellow2: #2B2A16;
$white: #FFFFFF;
$black: #000000;

/* COLORS MM */
$darkBlue: #08153d;
$midBlue: #091357;
$lightBlue: #464f61;
$darkYellow: #99927A;
$mainYellow: #D7C487;
$brightYellow: #C4BB4F;
$darkPurple: #624347;
$lightPurple: #6d6066;
$pearlWhite: #f3f4f1;

$beigeNew: #998F73;
$beigeNewLight: #D9CBA3;
$beigeNewLighter: #FFF9E7;
$petrolLight: #2E2E37;
$petrol: #070708;



/* FONTS */
$titleFont: 'Rokkitt', serif;
$copyFont: 'Titillium Web', sans-serif;
